<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
          <ion-button (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" >
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
     
    </ion-buttons>
    <ion-title *ngIf="person.firstname; else noPerson">{{person.firstname + ' ' + person.lastname}}  data </ion-title>
    <ng-template #noPerson>
        <ion-title>Create new person file</ion-title>
      </ng-template> 
  </ion-toolbar>
</ion-header>

<ion-content>
     <!-- <p>
        personal-page works!
      </p>
      xxx <i class="material-icons">face</i> yyy   <!--  material design icon -->
      <!--ooo <i class="material-icons"> accessible  </i>   lll  -->
  <ion-list >   <!-- *ngIf="(person$|async) as person"-->


    <ion-item>
      <ion-icon position="start" name = "md-person"></ion-icon> 
      <ion-label color="secondary" >First Name </ion-label>
      <ion-input ngDefaultControl required="true" type="text" item-right
         [(ngModel)]="person.firstname" ></ion-input>
      
    </ion-item> 

    <ion-item>
      <ion-icon position="start" name = "md-person"></ion-icon> 
      <ion-label  position="inline">Last Name</ion-label>
      <ion-input ngDefaultControl required="true"  type="text"
          [(ngModel)]="person.lastname" >
      </ion-input>  
    </ion-item>

    <ion-item>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
        <ion-label>Date of birth</ion-label>
        <ion-datetime ngDefaultControl required="true" display-format="DD MMMM, YYYY" min="1900" max="2020" [(ngModel)]="person.date_birth"> </ion-datetime>
    </ion-item>
    <ion-item>
        <ion-icon  name="speedometer"></ion-icon>
        <ion-label>Weight (kg)</ion-label>
        <ion-input ngDefaultControl type="number" min="0" max = "300" [(ngModel)]="person.weight" ></ion-input> 
    </ion-item>
    <ion-item>
        <ion-icon name="water"></ion-icon>
        <ion-label>Blood group</ion-label>
        <ion-input ngDefaultControl type="text" [(ngModel)]="person.blood_group"></ion-input> 
    </ion-item>

    <ion-item>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#000000" d="M4.22,11.29L11.29,4.22C13.64,1.88 17.43,1.88 19.78,4.22C22.12,6.56 22.12,10.36 19.78,12.71L12.71,19.78C10.36,22.12 6.56,22.12 4.22,19.78C1.88,17.43 1.88,13.64 4.22,11.29M5.64,12.71C4.59,13.75 4.24,15.24 4.6,16.57L10.59,10.59L14.83,14.83L18.36,11.29C19.93,9.73 19.93,7.2 18.36,5.64C16.8,4.07 14.27,4.07 12.71,5.64L5.64,12.71Z" />
        </svg>
        <ion-label>Treatment</ion-label>
        <ion-input>
            <div id="pills">
   <!--  <ul  *ngFor = "let pill of treatment$|async">
                <li>
                    {{pill?.name}}
                </li>
              </ul>  -->
             <ion-list *ngFor = "let pill of treatment$|async">
                  <ion-label>
                      <ion-text color="primary">
                        <h2>{{pill?.name}}</h2>
                      </ion-text>
                      <p>From: {{pill?.from_date|date: 'dd/MM/yyyy'}}</p>
                    </ion-label>                                          
              </ion-list>  
        </div>
      </ion-input>
     <!-- <ion-button icon-only (click)="goPersonalMedications(0)" >  -->
        <ion-button icon-only (click)="goPersonalTreatment(0)" >
        <ion-icon name = "create"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
        <ion-icon name="medical"></ion-icon>
        <ion-label>Allergies</ion-label>
        <ion-input>
            <div id="allerg">
                <ion-list></ion-list>                                          
            </div>
        </ion-input>
        <ion-button id="edit_allerg" icon-only >
          <ion-icon name = "create"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-item>
        <i class="material-icons">accessible</i>
        <ion-label>Apareillage</ion-label>
        <ion-input >
            <div id="appar">
                                            
            </div>
        </ion-input> 
        <ion-button id="edit_appar" icon-only >
            <ion-icon name = "create"></ion-icon>
          </ion-button>
    </ion-item>

    <ion-item>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#000000" d="M19,8C19.56,8 20,8.43 20,9A1,1 0 0,1 19,10C18.43,10 18,9.55 18,9C18,8.43 18.43,8 19,8M2,2V11C2,13.96 4.19,16.5 7.14,16.91C7.76,19.92 10.42,22 13.5,22A6.5,6.5 0 0,0 20,15.5V11.81C21.16,11.39 22,10.29 22,9A3,3 0 0,0 19,6A3,3 0 0,0 16,9C16,10.29 16.84,11.4 18,11.81V15.41C18,17.91 16,19.91 13.5,19.91C11.5,19.91 9.82,18.7 9.22,16.9C12,16.3 14,13.8 14,11V2H10V5H12V11A4,4 0 0,1 8,15A4,4 0 0,1 4,11V5H6V2H2Z" />
        </svg>
        <ion-label>Family doctor</ion-label>
        <ion-input type="text" ></ion-input> 
    </ion-item>
  </ion-list>
</ion-content>