<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Medical Files </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- {{persons$|async|json}} -->
  <div  *ngIf="(persons$|async) as persons">
    <ion-list inset = true *ngIf="persons.length > 0; else noUser">
      <ion-item-sliding *ngFor="let person of persons" (click)="EditPersonal(person)">
        <ion-item text-wrap button detail>
          <ion-label>
            <ion-text color="primary">
              <h2>{{person?.firstname + ' ' + person?.lastname}}</h2>
            </ion-text>
            <p>Date of birth: {{person?.date_birth|date: 'dd/MM/yyyy'}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option expandable (click)="Delete(person,event)">
            <ion-icon name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ng-template #noUser>
      For stay in good health and don't miss important things, let's start ... 
      <ion-button (click)="EditPersonal(null)">Create my Medical File </ion-button>
    </ng-template>  
    
     <!-- fab placed to the bottom end -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="secondary" (click)="EditPersonal(null)">
            <ion-icon name = "add"></ion-icon> 
          </ion-fab-button>
        </ion-fab>

  </div>
</ion-content>