

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Personal treatment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<p>page treatment</p>

     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" (click)="EditPersonal(null)">
          <ion-icon name = "add"></ion-icon> 
        </ion-fab-button>
      </ion-fab>

<!--
<ion-tabs>
  <ion-tab label="CURRENT" icon="person" href="/:personid/(curr:curr)">
    <ion-router-outlet name="curr"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="HISTORY" icon="bookmarks" href="/:personid/(hist:hist)">
    <ion-router-outlet name="hist"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
-->
